// Place all the styles related to the Chores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Color scheme from https://www.behance.net/gallery/32154055/Minimalist-Color-Palettes-2015
$yellow: #e5eec1;
$green: #a2d4ab;
$teal: #3eaca8;
$blue: #547a82;
$gray: #5a5050;
$background-colors-light-to-dark: $yellow, $green, $teal, $blue, $gray;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $blue;
  background: linear-gradient($background-colors-light-to-dark) fixed;
}

h1, th {
  font-family: 'Josefin Sans', sans-serif;
}

.not-due {
  background-color: $blue;
}

.overdue {
  background-color: $yellow;
}

.due-today {
  background-color: $green;
}

.due-week {
  background-color: $teal;
}

.due-later {
  background-color: $gray;
}

// flexbox weather and chores alignment
#chores_list {
  p {
    background: gray;
    margin: 10px;
    padding: 0px;
  }

  div {
    background: red;
    margin: 0px;
    padding: 0px;
  }

  .day {
    background: white;
    margin: 50px;
    padding: 5px;
    display: flex;
  }

  .chores {
    flex: 1 1 auto;
    align-self: end;
    background: green;
  }

  .weather {
    background: blue;
    flex: 0 0 0;
  }

  .chores p {
    background: yellow;
  }

  .weather-date {
    display: flex;
    .icon {
      flex: 0 0 50px;
    }
    .deets {
      flex: 0 0 0;
      margin-bottom: 10px;
    }
  }

  .weather {
    p {
      white-space: nowrap;
      margin: 0px;
    }
    img {
    }
  }
}
